// Colors
$alB: #010101;
$dGray: #1c252c;
$llGray: #edf0f5;
$lGray: #bdbbbc;
$alW: #f6f9fe;
$alW2: #f5f4f0;

$mRed: #e31d1a;
$dRed: #990504;

$linkedIn: #04689b;

// Break Points
$sm   : 576px;
$md   : 768px;
$lg   : 992px;
$xl   : 1200px;
$xxl  : 1440px;
$xxxl : 1920px;
