<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact page</title>
    <link rel="stylesheet" href="/assets/master.css" type="text/css">
    <style>
      body{
        background: rgb(166, 2, 125);
      }
      .form{
        width: 400px;
        margin: 50px auto 0;
      }
      input{
        width: 100%;
        margin: 10px 0 20px;
        padding: 2px 10px;
      }
      input[type='submit']{
        width: auto;
        padding: 4px 14px;
      }
    </style>
  </head>
  <body>
    <% include partial/nav.ejs%>
    <h1>Weclome to Contact Us Page</h1>
    <p>Feel free to contact us any time</p>
    <p><%= qs.dept %></p>
    <div class="form">
      <form class="" action="/contact" method="post">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name="who" value="<%= qs.person%>">
        <br>
        <label for="department">Which department?</label>
        <input type="text" name="department" value="<%= qs.dept%>">
        <br>
        <label for="email">Your email:</label>
        <input type="email" name="email">
        <br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
