<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/assets/master.css" type="text/css">
    <style>
      body{
        background: skyblue;
      }
    </style>
  </head>
  <body>
    <% include partial/nav.ejs%>
    <h1>Weclome to our awesome website</h1>
    <p>There is not such better website than us anywhere else!</p>
  </body>
</html>
