html
    head    
        title App
    body(class='MyClass asd')
        h1(id='MyID') My App
        p   
            h3 Hello 
                span()=name 
        ul(style="list-style-type: none")  
            each elem in list 
                li= elem  