<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <title>Library</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">

    <!-- Extra -->
    <link rel="stylesheet" href="fonts/font-face.css">
    <link rel="stylesheet" href="icons/style.css">
    
  </head>
  <body class="home-page">

    <!-- Start Page Content -->
    <div class="page-content">
      <div class="container">
        <div class="jumbotron">
          <h2>Test is working just perfect!</h2>
        </div>
      </div>
    </div>
    <!-- End Page Content -->

    <!-- JS Scripts  -->
    <script src="js/jquery.3.3.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
